---
http_interactions:
- request:
    method: post
    uri: https://demo.myvirtualmerchant.com/VirtualMerchantDemo/processxml.do
    body:
      encoding: UTF-8
      string: |-
        xmldata=<txn><ssl_merchant_id>002602</ssl_merchant_id>
               <ssl_user_id>002602</ssl_user_id>
               <ssl_pin>1YURP7</ssl_pin>
               <ssl_transaction_type>ccaddrecurring</ssl_transaction_type>
               <ssl_amount>0.01</ssl_amount>
               <ssl_salestax>0.00</ssl_salestax>
               <ssl_customer_code>3003</ssl_customer_code>
               <ssl_card_present>Y</ssl_card_present>
               <ssl_partial_auth_indicator>0</ssl_partial_auth_indicator><ssl_next_payment_date>11/01/2013</ssl_next_payment_date>
               <ssl_billing_cycle>WEEKLY</ssl_billing_cycle>
               <ssl_end_of_month>Y</ssl_end_of_month><ssl_card_number>5000300020003003</ssl_card_number>
                     <ssl_exp_date>0515</ssl_exp_date><ssl_cvv2cvc2_indicator>1</ssl_cvv2cvc2_indicator>
                        <ssl_cvv2cvc2>1234</ssl_cvv2cvc2></txn>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=response.xml
      Content-Type:
      - text/xml
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <txn><ssl_email></ssl_email><ssl_last_name></ssl_last_name><ssl_ship_to_phone></ssl_ship_to_phone><ssl_ship_to_state></ssl_ship_to_state><ssl_ship_to_country></ssl_ship_to_country><ssl_company></ssl_company><ssl_ship_to_zip></ssl_ship_to_zip><ssl_result_message>SUCCESS</ssl_result_message><ssl_country></ssl_country><ssl_city></ssl_city><ssl_phone></ssl_phone><ssl_ship_to_address2></ssl_ship_to_address2><ssl_ship_to_address1></ssl_ship_to_address1><ssl_billing_cycle>WEEKLY</ssl_billing_cycle><ssl_start_payment_date>11/01/2013</ssl_start_payment_date><ssl_ship_to_company></ssl_ship_to_company><ssl_transaction_type>CCADDRECURRING</ssl_transaction_type><ssl_ship_to_last_name></ssl_ship_to_last_name><ssl_avs_zip></ssl_avs_zip><ssl_ship_to_city></ssl_ship_to_city><ssl_exp_date>0515</ssl_exp_date><ssl_recurring_id>AA49315-1550B77C-D7B6-4402-AD1A-86EE8A24CB25</ssl_recurring_id><ssl_ship_to_first_name></ssl_ship_to_first_name><ssl_avs_address></ssl_avs_address><ssl_next_payment_date>11/01/2013</ssl_next_payment_date><ssl_address2></ssl_address2><ssl_skip_payment>N</ssl_skip_payment><ssl_first_name></ssl_first_name><ssl_recurring_batch_count>54</ssl_recurring_batch_count><ssl_amount>0.01</ssl_amount><ssl_state></ssl_state><ssl_card_number>50**********3003</ssl_card_number></txn>
  recorded_at: Fri, 01 Nov 2013 19:49:24 GMT
recorded_with: VCR 2.7.0
