---
http_interactions:
- request:
    method: post
    uri: https://demo.myvirtualmerchant.com/VirtualMerchantDemo/processxml.do
    body:
      encoding: UTF-8
      string: |-
        xmldata=<txn><ssl_merchant_id>002602</ssl_merchant_id>
               <ssl_user_id>002602</ssl_user_id>
               <ssl_pin>1YURP7</ssl_pin>
               <ssl_transaction_type>cccredit</ssl_transaction_type>
               <ssl_amount>0.01</ssl_amount>
               <ssl_salestax>0.00</ssl_salestax>
               <ssl_customer_code>3003</ssl_customer_code>
               <ssl_card_present>Y</ssl_card_present>
               <ssl_partial_auth_indicator>0</ssl_partial_auth_indicator><ssl_card_number>5000300020003003</ssl_card_number>
                     <ssl_exp_date>0515</ssl_exp_date><ssl_cvv2cvc2_indicator>1</ssl_cvv2cvc2_indicator>
                        <ssl_cvv2cvc2>1234</ssl_cvv2cvc2></txn>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=response.xml
      Content-Type:
      - text/xml
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <txn><ssl_approval_code>      </ssl_approval_code><ssl_invoice_number></ssl_invoice_number><ssl_cvv2_response></ssl_cvv2_response><ssl_exp_date>0515</ssl_exp_date><ssl_amount>0.01</ssl_amount><ssl_txn_id>AA49315-25072C84-2D8D-4480-8436-C640B63CAE04</ssl_txn_id><ssl_result>0</ssl_result><ssl_card_number>50**********3003</ssl_card_number><ssl_account_balance>0.00</ssl_account_balance><ssl_txn_time>11/01/2013 03:49:25 PM</ssl_txn_time><ssl_result_message>APPROVAL</ssl_result_message><ssl_avs_response> </ssl_avs_response></txn>
  recorded_at: Fri, 01 Nov 2013 19:49:25 GMT
recorded_with: VCR 2.7.0
