---
http_interactions:
- request:
    method: post
    uri: https://www.myvirtualmerchant.com/VirtualMerchant/processxml.do
    body:
      encoding: UTF-8
      string: |-
        xmldata=<txn><ssl_merchant_id>111</ssl_merchant_id>
               <ssl_user_id>222</ssl_user_id>
               <ssl_pin>abc</ssl_pin>
               <ssl_transaction_type>ccsale</ssl_transaction_type>
               <ssl_amount>0.01</ssl_amount>
               <ssl_salestax>0.00</ssl_salestax>
               <ssl_customer_code>3456</ssl_customer_code>
               <ssl_card_present>Y</ssl_card_present>
               <ssl_partial_auth_indicator>0</ssl_partial_auth_indicator><ssl_card_number>1234567890123456</ssl_card_number>
                     <ssl_exp_date>0513</ssl_exp_date><ssl_cvv2cvc2_indicator>1</ssl_cvv2cvc2_indicator>
                        <ssl_cvv2cvc2>1234</ssl_cvv2cvc2></txn>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=response.xml
      Content-Type:
      - text/xml
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <txn><errorCode>4012</errorCode><errorName>VID/UID Invalid</errorName><errorMessage>The VirtualMerchant ID and/or User ID supplied in the authorization request is invalid.</errorMessage></txn>
  recorded_at: Wed, 30 Oct 2013 15:50:45 GMT
recorded_with: VCR 2.4.0
