---
http_interactions:
- request:
    method: post
    uri: https://demo.myvirtualmerchant.com/VirtualMerchantDemo/processxml.do
    body:
      encoding: US-ASCII
      string: ! "xmldata=<txn>\n        <ssl_merchant_id>002602</ssl_merchant_id>\n
        \       <ssl_user_id>002602</ssl_user_id>\n        <ssl_pin>1YURP7</ssl_pin>\n
        \       <ssl_transaction_type>ccsale</ssl_transaction_type>\n        <ssl_amount>0.01</ssl_amount>\n
        \       <ssl_salestax>0.00</ssl_salestax>\n        <ssl_customer_code>3456</ssl_customer_code>\n
        \       <ssl_card_present>Y</ssl_card_present>\n        <ssl_partial_auth_indicator>0</ssl_partial_auth_indicator><ssl_card_number>1234567890123456</ssl_card_number>\n
        \         <ssl_exp_date>0513</ssl_exp_date><ssl_cvv2cvc2_indicator>1</ssl_cvv2cvc2_indicator>\n
        \           <ssl_cvv2cvc2>1234</ssl_cvv2cvc2></txn>"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=response.xml
      Content-Type:
      - text/xml
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <txn><errorCode>5000</errorCode><errorName>Credit Card Number Invalid</errorName><errorMessage>The
        Credit Card Number supplied in the authorization request appears to be invalid.</errorMessage></txn>'
  recorded_at: Wed, 01 May 2013 20:29:23 GMT
recorded_with: VCR 2.4.0
