---
http_interactions:
- request:
    method: post
    uri: https://demo.myvirtualmerchant.com/VirtualMerchantDemo/processxml.do
    body:
      encoding: US-ASCII
      string: ! "xmldata=<txn>\n        <ssl_merchant_id>002602</ssl_merchant_id>\n
        \       <ssl_user_id>002602</ssl_user_id>\n        <ssl_pin>1YURP7</ssl_pin>\n
        \       <ssl_transaction_type>ccvoid</ssl_transaction_type>\n        <ssl_txn_id>123</ssl_txn_id>\n
        \       </txn>"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=response.xml
      Content-Type:
      - text/xml
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <txn><errorCode>5040</errorCode><errorName>Invalid Transaction ID</errorName><errorMessage>The
        transaction ID is invalid for this transaction type</errorMessage></txn>'
  recorded_at: Wed, 01 May 2013 19:09:13 GMT
recorded_with: VCR 2.4.0
