---
http_interactions:
- request:
    method: post
    uri: https://demo.myvirtualmerchant.com/VirtualMerchantDemo/processxml.do
    body:
      encoding: UTF-8
      string: |-
        xmldata=<txn>
                <ssl_transaction_type>ccvoid</ssl_transaction_type>
                <ssl_merchant_id>002602</ssl_merchant_id>
                <ssl_user_id>002602</ssl_user_id>
                <ssl_pin>1YURP7</ssl_pin>
                <ssl_txn_id>123</ssl_txn_id>
                </txn>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=response.xml
      Content-Type:
      - text/xml
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <txn><errorCode>5040</errorCode><errorName>Invalid Transaction ID</errorName><errorMessage>The transaction ID is invalid for this transaction type</errorMessage></txn>
  recorded_at: Wed, 30 Oct 2013 15:47:41 GMT
recorded_with: VCR 2.4.0
