---
http_interactions:
- request:
    method: post
    uri: https://demo.myvirtualmerchant.com/VirtualMerchantDemo/processxml.do
    body:
      encoding: UTF-8
      string: |-
        xmldata=<txn><ssl_merchant_id>002602</ssl_merchant_id>
               <ssl_user_id>002602</ssl_user_id>
               <ssl_pin>1YURP7</ssl_pin>
               <ssl_transaction_type>ccsale</ssl_transaction_type>
               <ssl_amount>0.01</ssl_amount>
               <ssl_salestax>0.00</ssl_salestax>
               <ssl_customer_code>1234</ssl_customer_code>
               <ssl_card_present>Y</ssl_card_present>
               <ssl_partial_auth_indicator>0</ssl_partial_auth_indicator><ssl_vm_mobile_source></ssl_vm_mobile_source>
               <ssl_vendor_id></ssl_vendor_id>
               <ssl_ksn></ssl_ksn>
               <ssl_encrypted_track1_data>474F492133496797C161C26752F61C74E094539003DFE7F70F2F51113C2CA457940157EA7D1449BED4E7CE9AEC1416D9</ssl_encrypted_track1_data>
               <ssl_encrypted_track2_data>EB442E8F4A9357086AF17D57B6EDFB6D99749F4DD78182FD07D57A343EAC3B1B90DC3F5E26D6505D</ssl_encrypted_track2_data>
               <ssl_vm_encrypted_device></ssl_vm_encrypted_device></txn>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=response.xml
      Content-Type:
      - text/xml
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <txn><errorCode>5090</errorCode><errorName>Invalid Mobile Device</errorName><errorMessage>Declined - Invalid Mobile Device</errorMessage></txn>
  recorded_at: Fri, 01 Nov 2013 19:49:24 GMT
recorded_with: VCR 2.7.0
